<form method="POST" action="/products/<%=@product.id%>">
  <input type="hidden" name="_method" value="put" />
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%=@product.name %>"/>
  <label for="name">Price:</label>
  <input type="text" name="price" value="<%=@product.price %>"/>
  <label for="name">Description:</label>
  <input type="text" name="description" value="<%=@product.description %>"/>
  <label for="name">Color:</label>
  <input type="text" name="color" value="<%=@product.color %>"/>
  <input type="submit" value="Update product" />
</form>

<h3>Add a Category</h3>

<ul>
  <% @categories.each do |category| %>
  <li>
    <form method="POST" action="/products/<%=@product.id%>">
      <input type="hidden" name="_method" value="put" />
      <input type="text" name="category" value="<%= category.name %>" />
      <input type="submit" value="Add category" />
    </form>
  </li>
  <% end %>
</ul>
